<% unless current_user.orders.pending.empty? %>
  <h3>Pending Orders - May be removed after one week.</h3>
  <table>
    <thead>
      <tr>
        <th width="100">Establishment</th>
        <th width="100">Total</th>
        <th width="100">Date</th>
        <th width="100"></th>
      </tr>
    </thead>
    <% current_user.orders.pending.each do |order| %>
      <tr>
        <td><%= order.location.name %></td>
        <td><%= number_to_currency order.total / 100.0 %></td>
        <td>
          <%= order.updated_at.in_time_zone(order.location.time_zone).strftime "%A, %D" %><br />
          <%= order.updated_at.in_time_zone(order.location.time_zone).strftime "%-l:%M %p" %>
        </td>
        <td align="right">
          <%= link_to "Edit", "#", remote: true, :class=>'btn_small grey' %> 
          <%= link_to "Remove", dashboard_order_user_destroy_path(order), remote: true, method: :delete, confirm: "Are you sure?", class: 'btn_small grey' %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
