<table>
  <thead>
    <tr>
      <th width="100">Card</th>
      <th width="100">Name</th>
      <th width="100"></th>
    </tr>
  </thead>
  <% current_user.saved_cards.each do |card| %>
    <tr id="<%= card.row_id %>">
      <td><%= card.card_type.capitalize %> - <%= card.last_four %></td>
      <td><%= card.name %></td>
      <td align="right">
        <%= link_to 'Edit', edit_dashboard_saved_card_path(card), remote: true, :class=>'btn_small grey' %> 
        <%= link_to 'Delete', dashboard_saved_card_path(card), remote: true, method: :delete, confirm: "Delete all details forever?", :class=>'btn_small grey' %>
      </td>
    </tr>
  <% end %>
</table>
