<table>
  <thead>
    <tr>
      <th width="100"></th>
      <th width="100">Name</th>
      <th width="100">Location</th>
      <th width="100"></th>
    </tr>
  </thead>
  <% current_user.spots.each do |spot| %>
    <tr id="<%= spot.row_id %>">
      <td>
        <%= link_to 'Order Here', spot_order_path(spot) %>
      </td>
      <td><%= spot.nickname %></td>
      <td><%= spot.spot_formatted %></td>
      <td align="right">
        <%= link_to 'Edit', edit_dashboard_spot_path(spot), remote: true, :class=>'btn_small grey' %> 
        <%= link_to 'Delete', dashboard_spot_path(spot), method: :delete, remote: true, confirm: "Delete once and for all?", :class=>'btn_small grey' %>
      </td>
    </tr>
  <% end %>
</table>
