<div id="content" class="dashboard">
  <div id="vendor_nav">
    <ul>
      <%= render 'shared/dashboard_top_tabs', selected: 'personal' %> 
    </ul>
  </div>
  <div id="content_wrap">
	  
	  <%= render 'shared/flash', flash: flash %>
    
    <div id="main_tabs">
      <ul class="tabs">
        <li><a href="#tab1">Current Orders</a></li>
        <!-- <li><a href="#tab2">My Spots</a></li> -->
        <li><a href="#tab3">Billing Details</a></li>
        <li><a href="#tab4">Order History</a></li>
        <li><a href="#tab5">My Profile</a></li>
      </ul>
      <!-- <div class="tabs_right_link"><a href="">Back to Orders &raquo;</a></div> --> 
      <div class="tab_container">
        <div id="tab1" class="tab_content">

          <div id="current_orders">
            <%= render 'current_orders' %>
          </div>

          <div id="current_map">
            <%= render 'current_map' %>
          </div>

          <div id="pending_orders">
            <%# render 'pending_orders' %>
          </div>

        </div>
        <div id="tab2" class="tab_content">

     <!--
          <div id="spots">
            <%# render 'spots' %>
          </div>
          <%= link_to "Add a spot", new_dashboard_spot_path, remote: true, class: 'btn_med' %>
          <div style="display: none;" class="main_overlay" id="spot-overlay">
            <div class="overlay_wrapper">
              <div class="overlay_title">
                <h3>Add a New Spot</h3>
                <h4>Either click a Spot or search for an address.</h4>
              </div>
              <div class="overlay_content">
                <%= text_field_tag "spot_search" %>
                <div id="spot-map" data-origin-lat="" data-origin-lng="" style= "height: 200px; width: 420px;"></div>
              </div>
            </div>
            <div class="close"><a href="">Close Window</a></div>
          </div>
    -->
        </div>
        <div id="tab3" class="tab_content">
          <div id="saved_cards">
            <%= render 'saved_cards' %>
          </div>
          <%= link_to("Add a Card", new_dashboard_saved_card_path, remote: true, class: 'btn_med') unless current_user.saved_cards.empty? %>
          <% if current_user.saved_cards.empty? %>
            <div class="empty_box directions">
              <%= link_to "Add a card to place an order!", new_dashboard_saved_card_path, remote: true, class: 'btn_large'  %>
            </div>
          <% end %>

          <div style="display: none;" class="main_overlay" id="saved_card-overlay">
            <div class="overlay_wrapper">
              <div class="overlay_title">
                <h3>New Card</h3>
              </div>
              <div class="overlay_content">
              </div>
            </div>
            <div class="close"><a href="">Close Window</a></div>
          </div>

        </div>

        <div id="tab4" class="tab_content">
          <% unless current_user.orders.completed.empty? %>
            <table>
              <thead>
                <tr>
                  <th width="100">Establishment</th>
                  <th width="100">Total</th>
                  <th width="100">Order Details</th>
                  <th width="100">Final Status</th>
                </tr>
              </thead>
              <% current_user.orders.completed.ascending.each do |order| %>
                <tr>
                  <td>
                    <%= order.location_name %>
                  </td>
                  <td><%= number_to_currency (order.total) %> <br /><font style="font-size: 10px">(includes <%= number_to_currency order.delivery_fee %> delivery fee)</font></td>
                  <td>
                    <ul>
                      <%= order.custom_order_body %>
                    </ul>
                  </td>
                  <td><%= order.state.capitalize %>
					          <% if order.receipt_image_uid.present? %>  <br /><br />
										  <a class="lightbox" href="#bigger_r">Receipt: <img src="<%= order.receipt_image.thumb('50x50>').url %>" /></a>

										  <div id="bigger_r" style="display:none"><img src="<%= order.receipt_image.thumb('800x800>').url %>" /></div>
										  <br /><br />
										<% end -%>
	                </td>
                </tr>
              <% end %>
            </table>
          <% else %>
            <div class="empty_box directions">
              <%= link_to "Get a new order started!", root_path, class: 'btn_large' %>
            </div>
          <% end %>
        </div>

        <div id="tab5" class="tab_content">
          <%= form_for [:dashboard, current_user] do |f| %>
            <% if current_user.errors.any? %>
              <div id="error_explaination">
                <h4><%= pluralize(current_user.errors.count, "error") %> need to be fixed:</h4>
                <ul>
                  <% current_user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <p>
              <%= f.label :first_name, "First Name" %>
              <%= f.text_field :first_name %>
            </p>

            <p>
              <%= f.label :first_name, "Last Name" %>
              <%= f.text_field :last_name %>
            </p>

            <p>
              <%= f.label :email, "Email" %>
              <%= f.text_field :email %>
            </p>		

            <p>
              <%= f.label :cell_phone, "Cell Phone #" %>
              <%= f.text_field :cell_phone, value: number_to_phone(f.object.cell_phone) %>
            </p>

            <% if f.object.super_user? %>
              <p>
                <%= f.check_box :aging_alert %> 
                <%= f.label :aging_alert, 'Receive aging orders summary reports' %>
              </p>		
            <% end %>

            <input type="submit" value="Update Profile &raquo;" class="btn_med">
            <div class="clear"></div>
          <% end %>

          <%= form_for current_user, url: dashboard_user_update_password_path(current_user) do |f| %>
            <p>
              <%= label_tag 'current_password', 'Current Password' %>
              <%= password_field_tag 'current_password' %>
            </p>

            <p>
              <%= f.label :password %>
              <%= f.password_field :password %>
            </p>

            <p>
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation %>
            </p>

            <%= f.submit "Change Password &raquo;".html_safe, :class=>"btn_med" %>
            <div class="clear"></div>
          <% end %>

        </div>
      </div><!-- end .tab_container -->
    </div><!-- end #main_tabs -->
    <div id="module_boxes">
      <div class="clear"></div>
    </div>

  </div><!-- end #content_wrap -->
</div><!-- end #content -->
<%= render 'shared/menu_stub' %>
