<%= form_for [:dashboard, @menu], remote: true do |f| %>

  <% if @menu.errors.any? %>
    <div id="error_explaination">
      <%= pluralize @menu.errors.count, 'error' %> need to be fixed:
      <ul>
        <% @menu.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :location_id %>

  <div class="field_group menu">
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>

    <div class="field">
      <%= f.label :start_at, "Menu begins at" %>
      <%= f.time_select :start_at, { :minute_step => 15, :default => { :hour => 10, :minute => 0}, :ampm => true } %>
    </div>

    <div class="field">
      <%= f.label :end_at, "Menu ends at" %>
      <%= f.time_select :end_at, { :minute_step => 15, :default => { :hour => 22, :minute => 0}, :ampm => true } %>
    </div>
  </div>

  <%= f.fields_for :groups do |builder| %>
    <%= render 'group', f: builder %>
  <% end %>
  <%= add_child_link "Add a group", :groups, :class => "btn_small grey" %>
  <% new_child_fields_template f, :groups, partial: 'dashboard/menus/group' %>

  <div>
    <%= f.submit :class => "btn_med" %>
  </div>
<% end %>
<%= template_for :groups %>
<%= template_for :group_options %>
<%= template_for :group_option_items %>
<%= template_for :options %>
<%= template_for :option_items %>
<%= template_for :items %>
<%= template_for :sizes %>
