<div class="fields option">
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :information %>
    <%= f.text_field :information %>
  </div>

  <div class="field">
    <%= f.label :minimum %>
    <%= f.text_field :minimum %>
  </div>

  <div class="field">
    <%= f.label :maximum %>
    <%= f.text_field :maximum %>
  </div>

  <%= f.fields_for :option_items do |builder| %>
    <%= render 'option_item', f: builder %>
  <% end %>
  <% if defined?(group) && (group == true) %>
    <%= add_child_link "Add an option item", :option_items, prefix: 'group', :class => "btn_small grey" %>
    <% new_child_fields_template f, :option_items, partial: 'dashboard/menus/option_item', prefix: 'group' %>
  <% else %>
    <%= add_child_link "Add an option item", :option_items %>
    <% new_child_fields_template f, :option_items, partial: 'dashboard/menus/option_item' %>
  <% end %>

  <%= remove_child_link "remove option", f %>

</div>
