<div id="content" class="dashboard">
	<div id="vendor_nav">
		<ul>
      <li><%= link_to "My Account", dashboard_account_path %></li>
      <li class="selected"><%= link_to "#{@vendor.name} Users", dashboard_vendor_vendor_roles_path(@vendor)%></li>
			<li><%= link_to "Vendors & Locations", dashboard_vendors_path %></li>
		</ul>
	</div>
  <div id="content_wrap">
		<div id="main_tabs">
			<ul class="tabs">
			</ul>
			<div class="tab_container">
        <div id="tab1" class="tab_content">
          <%= render 'shared/flash', flash: flash %>
					<table>
						<thead>
							<tr>
								<th width="30%">User</th>
								<th width="28%">Email</th>
								<th width="20%">Role</th>
								<th width="22%"></th>
							</tr>
						</thead>
						<% if @roles.empty? %>
						<tr><td colspan="4" align="center"><span class="note">No users added yet.</span></td></tr>
						<% end %>
						<% @roles.each do |role| %>
							<tr>
								<td valign="middle" class="title username">
                  <%= role.user.name %>
                </td>
								<td valign="middle" class="title role_details"><a href="mailto:<%= role.user.email %>"><%= role.user.email %></a><br />
								<%= role.user.cell_phone %></td>
								<td valign="middle" class="title role"><%= role.type %> - <%= role.title %></td>
								
								<td valign="middle" align="center">

									  <%= link_to 'Edit', edit_dashboard_vendor_vendor_role_path(@vendor, role), :class=>'btn_small grey' %> 
									  <%= link_to 'Delete', dashboard_vendor_vendor_role_path(@vendor, role), method: :delete, confirm: "This will delete the user from this vendor only. Are you sure?", :class=>'btn_small grey' %>
								</td>
							</tr>
						<% end %>
					</table>
					<%= link_to 'New User', new_dashboard_vendor_vendor_role_path(@vendor), :class=>'btn_med' %> 
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<!-- end #main_tabs -->
		<div id="module_boxes">
			<div class="clear"></div>
		</div>
  </div>
  <!--end content_wrap-->
</div>
<!--end content-->
