<table id="current_orders">
  <thead>
    <tr>
      <th width="15%">Status</th>
      <th width="20%">Customer</th>
      <th width="15%">Order Total</th>
      <th width="28%">Assigned To</th>
      <th width="20%"></th>
    </tr>
  </thead>

  <% live_location.orders.active.ascending.each do |order| %>

    <% if order.order_type && order.delivery_spot %>
      <tr data-order-id="<%= order.id %>" data-order-type="<%= order.order_type %>" data-lat="<%= order.delivery_spot.lat %>" data-lng="<%= order.delivery_spot.lng %>">
      <% else %>
        <tr data-order-id="<%= order.id %>">
        <% end %>
        <td class="date">
          <% if order.submitted_at %>
            <span><%= order.submitted_at.in_time_zone(order.location.time_zone).strftime '%m/%d/%y' %></span><br/>
            <%= order.submitted_at.in_time_zone(order.location.time_zone).strftime '%l:%M %P' %>
          <% end %>
          <div style="font-size:11px;"class="<%= order.state %>"> <span class="indicator"></span>
            <%= order.state.gsub(/_/,' ').capitalize %><br><br>
            <%= order.state_description_for_locations %>
          </div>
        </td>
        <td class="customer">
          <span><%= order.user.name %></span><br/>
         <div style="font-size:11px;"> <%= number_to_phone order.user.cell_phone %><br />
          <% case order.order_type.to_s %>
          <% when Order::SPOT_DELIVERY %>
            <% if order.delivery_spot %>
              (<%= number_with_precision order.delivery_spot.lat, precision: 4 %>, 
              <%= number_with_precision order.delivery_spot.lng, precision: 4 %>)<br /><br />
              <strong>This is close to:</strong><br/>
              <%= order.delivery_spot.reverse_address %>
            <% else %>
              <span class="error">Location Not Found</span>
            <% end %>
          <% when Order::ADDRESS_DELIVERY %>
            <% if order.delivery_spot %>
              <% if order.delivery_spot.use_reverse %>
                <%= order.delivery_spot.reverse_address %>
              <% else %>
                <%= order.delivery_spot.street1 %><br />
                <%= order.delivery_spot.street2 %><br />
                <%= order.delivery_spot.city %>, <%= order.delivery_spot.state %><br />
              <% end %></div>
            <% else %>
              <span class="error">Delivery Location Not Found</span>
            <% end %>
          <% when Order::TAKE_OUT %>
            Take Out
          <% when Order::DINE_IN %>
            Dine In
          <% else %>
            <span class="error">Unknown Delivery Type</span>
          <% end %>
        </td>
        <td class="total"><%= number_to_currency(order.total / 100.0) %></td>
        <td class="assigned">
	        <% if order.location.users.deliverers.present? %>
	          <%= form_for order, url: dashboard_order_assign_path(order), remote: true, html: { class: 'deliverer' } do |f| %>
	            <%= f.collection_select :assigned_to_id, order.location.users.deliverers, :id, :name, include_blank: 'Select delivery staff member' %>
	          <% end %>
	        <% else %>
				    <p><%= link_to "Add a delivery user &raquo;".html_safe, dashboard_location_location_roles_path(order.location) %></p>
	        <% end %>
        </td>
        <td class="actions" align="right">
	        This order is for <b><%= order.order_type_word %> </b>
	        <br><br>
	
          <%= link_to 'View Order', dashboard_order_path(order), class: 'btn_small grey' %>
		  <!--<br/><br/>
		  <%= link_to 'Confirm Order', '#confirm_order', class: 'confirm_order btn_small grey' %>-->
		<div style="display: none;"> 
			<div id="confirm_order" style="width:300px">
		  		<h3>Are you sure?</h3>
				<p><!-- Confirm order text here --></p>
				<input type="submit" value="Confirm" class="btn_med"/>
		  	</div>
		</div>
        </td>
        <td class="details" style="display: none;">
          <div class="marker_html">
            <div class="info_window">
              <% case order.order_type.to_s %>
              <% when Order::SPOT_DELIVERY %>
                Spot 
              <% when Order::ADDRESS_DELIVERY %>
                Address 
              <% end %>
              Delivery for: 
              <%= order.user.name %><br />
              <%= number_to_phone order.user.cell_phone %><br />
              <% case order.order_type.to_s %>
              <% when Order::SPOT_DELIVERY %>
                (<%= number_with_precision order.delivery_spot.lat, precision: 4 %>, 
                <%= number_with_precision order.delivery_spot.lng, precision: 4 %>)<br />
                <%= order.delivery_spot.reverse_address %> (Approximate)
              <% when Order::ADDRESS_DELIVERY %>
                <% if order.delivery_spot.use_reverse %>
                  <%= order.delivery_spot.reverse_address %>
                <% else %>
                  <%= order.delivery_spot.street1 %><br />
                  <%= order.delivery_spot.street2 %><br />
                  <%= order.delivery_spot.city %>, <%= order.delivery_spot.state %><br />
                <% end %>
              <% end %>
              <br />
              Submitted at: <%= order.submitted_at.in_time_zone(order.location.time_zone).strftime '%l:%M %P' %> on 
              <%= order.submitted_at.in_time_zone(order.location.time_zone).strftime '%m/%d/%y' %><br />
              <%= number_to_currency order.total / 100.0 %><br />
              <%= link_to "View Complete Order", dashboard_order_path(order), class: 'btn' %>
            </div>
          </div>
        </td>
      </tr>
    <% end %><%# End active orders loop %>
  </table>
