<%= form_for location, url: update_notifications_dashboard_location_path(location), method: :put, remote: true do |f| %>
  <% unless location.errors.empty? %>
    <div id="error_explaination">
      <%= pluralize(location.errors.count, "error") %> need to be fixed:
      <ul>
        <% location.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Order Notifications</h3>
  <p>How would you like us to contact you for new orders (leave blank for nothing)?</p>
  <%= f.label :sms_phone, 'SMS #' %>
  <%= f.text_field :sms_phone, :class => 'phone' %><br>
  <%= f.label :fax_number, 'Fax #' %>
  <%= f.text_field :fax_number, :class => 'phone' %><br>
  <%= f.label :notify_phone, 'Voice #' %>
  <%= f.text_field :notify_phone, :class => 'phone' %><br>
  <%= f.label :notify_email, 'Email' %>
  <%= f.text_field :notify_email, :class => 'phone' %><br><br>

  <!--
  <div class="switch">
    <label>Spot Delivery</label>
    <label class="cb-enable selected"><span>On</span></label>
    <label class="cb-disable"><span>Off</span></label>
    <input type="checkbox" id="checkbox" class="checkbox" name="field2" />
  </div>
  <div class="switch">
    <label>Address Delivery</label>
    <label class="cb-enable"><span>On</span></label>
    <label class="cb-disable selected"><span>Off</span></label>
    <input type="checkbox" id="checkbox" class="checkbox" name="field2" />
  </div>
  <div class="switch">
    <label for="field2">Pick Up</label>
    <label class="cb-enable"><span>On</span></label>
    <label class="cb-disable selected"><span>Off</span></label>
    <input type="checkbox" id="checkbox" class="checkbox" name="field2" />
  </div>
  <div class="switch">
    <label>Dine In</label>
    <label class="cb-enable"><span>On</span></label>
    <label class="cb-disable selected"><span>Off</span></label>
    <input type="checkbox" id="checkbox" class="checkbox" name="field2" />
  </div>
  -->

  <div class="clear"></div>
  <%= f.submit "Update", :class=>'btn_med' %>
<% end %>
