<li <%= 'class="selected"'.html_safe if selected == 'personal' -%>><%= link_to "My Personal Account", dashboard_account_path %></li>
<% if @we_bring_this_back && (permitted_to? :index, context: :dashboard_vendors) %>
  <li <%= 'class="selected"'.html_safe if selected == 'vendors' -%>><%= link_to 'Vendors & Locations', dashboard_vendors_path %></li>
<% end %>
<% if @contractor_role = Role.find_by_active_and_roletype_id_and_user_id(true, Role::DELIVERY_CONTRACTOR, current_user.id) %>
  <li <%= 'class="selected"'.html_safe if selected == 'contractor' -%>><%= link_to "Delivery Contracting", dashboard_contractor_role_path(@contractor_role) %></li>
<% end %>
<% if has_role?(:super_user) %>
  <li <%= 'class="selected"'.html_safe if selected == 'list_contractors' -%>><%= link_to "C List", dashboard_contractor_roles_path %></li>
  <li <%= 'class="selected"'.html_safe if selected == 'communication' -%>><%= link_to "Communication", dashboard_communication_path %></li>

<% end %>
