
<script type="text/javascript">
  $(document).ready(function(){
	  <% @map_name = 'map' %>
	  <% @no_bounds_fit = true -%>
	  <%= render 'shared/draw_courier_boundaries.js.erb' -%>		
  });
</script>

<div id="content">
  <div id="page_box">
    <div class="close">Close</div>
    <div class="toon"></div>
    <div class="steps"></div>
  </div>

  <div id="toolbar">
    <div id="map_search">
    </div>
    <div class="step_two">Confirm Your Spot</div>
    <div id="map_tools">
      <div class="search_box">
        <span><input type="text" placeholder="<%= @placeholder_for_move_spot_input %>"/></span>
				<input type="hidden" id="formatted_address" name="formatted_address" value="params[:a]">
      </div>
      <!-- <a href="#" class="btn_update_map">Move Pin</a> -->
    </div>
  </div>
  <div id="map_wrapper">
    <input type="hidden" id="pin_lat" name="pin_lat" />
    <input type="hidden" id="pin_lng" name="pin_lng" />
    <input type="hidden" id="pin_address" name="pin_address" />
    <div id="location_overlay" style="display:none;">
      <div class="overlay_wrapper"><div class="loading"></div></div>
    </div>
    <div id="options_overlay" style="display:none;">
      <div class='loading'></div>
    </div>
    <div id="map" data-page="confirm_spot" data-origin-lat="<%= @origin[:lat] %>" data-origin-lng="<%= @origin[:lng] %>" data-delivery-type="<%= @delivery_type %>">
    </div>
  </div>
</div>
<!--end #content-->
<div class="clear"></div>

