

<div id="billboard">
	<img src="<%= asset_path "courier_landing.png" -%>">
</div>
<!-- end #billboard -->
<div id="content">
	<div id="content_wrap">
	<div id="features">
		<div id="f_tab">How It Works</div>
		<div id="f_content">
			<div id="circle_chart"></div>
			<a href="/faq" class="btn_arrow">Learn more in the FAQ &raquo;</a>
			<div class="clear"></div>
		</div>
	</div>
	<!--
	<div id="features">
		<ul class="tabs">
			<li class="features"><a href="#tab1">Hit the Spot Features</a></li>
			<li class="how_it_works"><a href="#tab2">How It Works &raquo;</a></li>
		</ul>
		<div class="tab_container">
			<div id="tab1" class="tab_content">
				<h3>Customer <u>pre-pays for an order</u> and requests the owner to:</h3>
				<ul id="feature_list">
					<li>
						<img src="<%= asset_path "icon_pin.png" -%>"/>
						<p>Deliver the order to the customer's GPS location using<br/>a mobile device.<sup>*</sup></p>
					</li>
					<li class="odd">
						<img src="<%= asset_path "icon_carry_out.png" -%>"/>
						<p>Hand the order to the hungry customer when they come in<br/>for take-out.</p>
					</li>
					<li>
						<img src="<%= asset_path "icon_car.png" -%>"/>
						<p>Deliver the order the old fashioned way (to a<br/>street address).</p>
					</li>
					<li class="odd">
						<img src="<%= asset_path "icon_fork_knife.png" -%>"/>
						<p>Walk the order to the dine-in customer's table at<br/>your restaurant.</p>
					</li>
				</ul>
				<div class="clear"></div>
				<div id="fine_print">
					<p>* Delivery person uses a GPS-enabled mobile device with the Hit The Spot&reg; app to find the customer based on their GPS location.  Customer and delivery person are in communication so they can find each other when they are close. <a href="/faq">Learn more &raquo;</a></p>
				</div>
			</div>
			<div id="tab2" class="tab_content">
				<div id="circle_chart"></div>
				<a href="/faq" class="btn_arrow">Read More &raquo;</a>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	-->
	<!-- end #features -->
	<div id="signup">
		<h2>GET STARTED</h2>
		<%# render :partial => 'vendors/sign_up' %>
		<p> Make sure you have <a target="_blank" href="http://itunes.apple.com/us/app/hit-the-spot/id536455610">downloaded the app on to your iPhone</a> and created an account. 		     
		    Then, send your resume and/or questions to jobs@hitthespot.com and we'll be in touch with next steps ASAP. Thank You!</p>
	</div>
	<!-- end #signup -->
	<div class="clear"></div>
	</div>
</div>
<!-- end #content -->