<div id="content" class="dashboard">
	<div id="vendor_nav">
		<ul>
      <%= render 'shared/dashboard_top_tabs', selected: 'list_contractors' %> 
		</ul>
	</div>
  <div id="content_wrap">
		<div id="main_tabs">
			<ul class="tabs">
			</ul>
			<div class="tab_container">
        <div id="tab1" class="tab_content">
          <%= render 'shared/flash', flash: flash %>


          <% if @ready_for_final == true %>
            <h2>OK this is prepped and ready to send out - make any last min changes and click send, or go back.</h2>
	        <% end %>


          <% if @ready_for_final == true %>
            <% the_path = dashboard_communication_mass_email_go_path %>          
          <% else %>
            <% the_path = dashboard_communication_email_check_path %>          
          <% end %>

            <%= form_tag the_path do |f| %>
            
            <% if @ready_for_final != true %>	          
	            <p>Test users (emails separated by commas or spaces or whatnot)</p>
	            <input type="text" size="70" name="test_emails" value="<%= params[:test_emails] %>">
	            <br /><br />
            <% end %>

            <p>Email Subject</p>
            <input type="text" size="70" name="subject" value="<%= params[:subject] %>">   
            <br /><br />       

            <p>Greeting Prefix (optional, e.g. 'Hi') - this goes before a user's first name (if present)</p>
            <input type="text" size="10" name="greeting_prefix" value="<%= params[:greeting_prefix] %>">   
            <br /><br />       
  
            <p>Message body (will be prepended with "[greeting_prefix] First_Name,\n\n" only if there is a first_name present.)</p>
            <textarea name="body" cols="70" rows="10"><%= params[:body] %></textarea>

            <br /><br />

	          <% if @ready_for_final == true %>
              <input type="submit" value="SEND IT TO EVERYONE NOW!!!" onClick="return confirm('Are you sure everything is correct? This will be sent to a lot of people!!!');">	
            <% else %>
              <input type="submit" value="Test It First &raquo;" onClick="return confirm('Are you sure this looks correct?');">
            <% end %>



          <% end %>

        </div>
				<div class="clear"></div>
			</div>
		</div>
		<!-- end #main_tabs -->
		<div id="module_boxes">
			<div class="clear"></div>
		</div>
  </div>
  <!--end content_wrap-->
</div>
<!--end content-->





