<%= form_for @order, url: submit_order_path(@order) do |f| %>
  <% unless current_user %>
    <div class="no-account cc_info">
      <%= f.fields_for 'new_user', @new_user do |user_fields| %>
        <div class="field full">
          <%= user_fields.label :email, "Email Address" %><br />
          <%= user_fields.text_field :email, class: 'check' %>
        </div>
        <div class="field full">
          <%= user_fields.label :cell_phone, "Cell Phone" %><br />
          <%= user_fields.text_field :cell_phone %>
        </div>
      <% end %>
    </div>
  <% end %>

  <h3>Payment Method</h3>

  <% if @order.errors.any? %>
    <div id="error_explaination">
      <h4><%= pluralize(@order.errors.count, "error") %> need to be fixed:</h4>
      <ul>
        <% @order.errors.full_messages.each do |msg| %>
          <li><%= msg.gsub('Saved card', '') %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :tip %>

  <div class="clear"></div>
  <% if @default_card.present? %>
    <div id="default-card">
      <p>
        <span class="total_amount"><%= number_to_currency @order.total / 100.0 %></span> will be authorized on <%= @default_card.name %>'s <%= @default_card.card_type.capitalize %> (#<%= @default_card.last_four %>).<br />
        (<%= link_to "Change Card", 'change-card' %>)<%# change # to change-card %>
      </p>
      <%= f.hidden_field :saved_card_id, value: @default_card.id %>
    </div>

    <div id='change-card' style="display: none;">
      <h4>Payment Information</h4>
      <% @saved_cards.each do |card| %>
        <%= f.radio_button :saved_card_id, card.id, checked: true %> <%# TODO change to select default %>
        <%= f.label "saved_card_id_#{card.id}", "#{card.card_type.capitalize} - #{card.last_four}" %><br />
      <% end %>
      <%= f.radio_button :saved_card_id, 'new' %>
      <%= f.label :saved_card_id_new, "Add a new card" %>
      <div class="new" style="display: none;">
        <%= render 'orders/new_credit_card', f: f %>
      </div>
    </div>
  <% else %>
    <%= render 'orders/new_credit_card', f: f %>
  <% end %>

  <div class="cc_info">
    <div class="field">
      <%= f.label :delivery_instructions, "Optional Order Instructions (e.g. ready time, spot details, etc...)" %><br />
      <%= f.text_area :delivery_instructions, :rows => 3, :placeholder => "" %>
    </div>
    <div class="field full terms">
      <%= f.check_box :terms -%> <%= f.label :terms, "I agree to the <a target='_blank' href='/terms'>Terms and Conditions</a>".html_safe %>
    </div>
    <%= f.submit 'Submit Order', class: 'btn_med single-clk' %>
    <div class="clear"></div>
  </div>

<% end %>
