<tr>
	<td class="quantity"><%= line_item.quantity %></td>
  <td class="name">
    <%= link_to line_item.item.name, edit_line_item_path(line_item, order_id: @order.id, frame: true), remote: true %> 
    <%#= link_to "(x)", line_item_path(line_item, order_id: @order.id), remote: true, method: :delete, confirm: "Delete this item and any options?", :class => "delete" %>
	  <% if line_item.size_name.present? %>
	     - <%= line_item.size_name %>
	  <% end %>
	  <% if !line_item.options.empty? %>
	    <h4>Options:</h4>
	    <ul class="options">
	    <% line_item.options.where('quantity > 0').each do |option| %>
	      <%= option.name %> x <%= option.quantity %><br />
	    <% end %>
	    </ul>
	  <% end %>
	  <% if line_item.special_instructions.present? %>
	    
	    <h4>Special Instructions:</h4>
	    <p class="instructions"><%= line_item.special_instructions %></p>
	  <% end %>
    
    
  </td>
	<td class="subtotal"><%= number_to_currency line_item.subtotal / 100.0 %></td>
</tr>
