<%= form_tag login_path, remote: true do %>
  <%= hidden_field_tag :order, @order.id %>
  <p>
    <%= label_tag :username, 'Email Address' %><br />
    <%= text_field_tag :username, params[:username], class: 'check' %>
  </p>
  <p>
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </p>
  <p>
    <%= link_to "Forgot your password?", forgot_password_users_path %>
  </p>
  <%= submit_tag "Sign In", class: 'btn_large' %><br><br><br><br>
  <input type="hidden" value="<%= params[:pin_lat] %>" name="pin_lat">
  <input type="hidden" value="<%= params[:pin_lng] %>" name="pin_lng">
  <input type="hidden" value="<%= params[:location_lat] %>" name="location_lat">
  <input type="hidden" value="<%= params[:location_lng] %>" name="location_lng">
<% end %>
