<%= form_for @user, url: dashboard_update_contractor_info_path, remote: true do |f| %>

<% if @user.clocked_in == true %>
  <strong><span id="clocked_in_text">You are clocked in.</span></strong>
<% else %>
  <strong><span id="clocked_in_text">You are clocked out.</span></strong>
<% end %>

  <div class="field clock_in">
	  <input type="hidden" value="<%= @role.id %>" name="id">


    <div><%= f.label :clocked_in_true, 'Clock in' %> 
    <%= f.radio_button :clocked_in, true %></div>
    <div><%= f.label :clocked_in_false, 'Clock out' %> 
    <%= f.radio_button :clocked_in, false %></div>

    <%= f.submit :class=>"btn_med", :value => 'Update Status' %>
    
   	

  </div>
  <div class="clear"></div>
  <center><span class="update_message"></span></center>

<% end %>
