<div id="content" class="dashboard">
	<div id="vendor_nav">
		<ul>
			<li class="selected"><%= link_to 'New Contractor', dashboard_contractor_roles_path(@contractor) %></li>
			<li><%= link_to 'Dashboard', dashboard_path %></li>			
		</ul>
	</div>
  <div id="content_wrap">
    <%= render 'shared/flash', flash: flash %>

    <h2>Edit the delivery contractor role of <%= @role.user.name %></h2>
    <%= form_for @role, url: dashboard_contractor_role_path(@role, :protocol => 'https') do |f| %>
        <%= f.hidden_field :roletype_id, value: Role::DELIVERY_CONTRACTOR %>
      <p>
        <%= f.label :active %>
        <%= f.select :active, [["Active", true],["Inactive", false]] %>
      </p>
      <%= f.submit :class=>"btn_med"%>
<div class="clear"></div>
    <% end %>
    
		
		<br/><br/>
    <div style="float:left;"><%= link_to 'Delete', dashboard_contractor_roles_path(@role), method: :delete, confirm: "This will delete the contractor role from this user. Are you sure?", :class=>"btn_small" %> </div>   <div style="float:left;margin-left:10px;">Delete <%= @role.user.name %>'s Contractor Role</div>
	

    <br><br>
  </div>
  <!--end content_wrap-->
</div>
<!--end content-->
