<%= form_for @spot, url: @path, remote: true do |f| %>
  <%= f.label :nickname %>
  <%= f.text_field :nickname %>
  <div class="tab-wrapper">
    <div class="tab1">
      <h3>Choose by map</h3>
      <% [:lat, :lng].each do |field| %>
        <%= f.hidden_field field %>
      <% end %>
    </div>
    <div class="tab2">
      <h3>Choose by address</h3>
      <% [:street1, :street2, :city, :state, :zip].each do |field| %>
        <p>
          <%= f.label field %><br />
          <%= f.text_field field, disabled: true %>
        </p>
      <% end %>
    </div>
  </div>
  
  <%= f.submit "Save Spot", :class=>"btn_med" %>
	<div class="clear"></div>
<% end %>
