<div class="field">
  <%= f.label :street1 %>
  <%= f.text_field :street1, :class => 'location_address_street1', :onBlur => 'codeSignupAddress();' %>
</div>
<div class="field">
  <%= f.label :street2 %>
  <%= f.text_field :street2, :onBlur => 'codeSignupAddress();' %>
</div>
<div class="field">
  <%= f.label :city %>
  <%= f.text_field :city, :class => 'location_address_city', :onBlur => 'codeSignupAddress();' %>
</div>
<div class="field">
  <%= f.label :state, "State (two-letter code)" %>
  <%= f.text_field :state, :class => 'location_address_state', :onBlur => 'codeSignupAddress();' %>
</div>
<div class="field">
  <%= f.label :zip %>
  <%= f.text_field :zip, :class => 'location_address_zip', :onBlur => 'codeSignupAddress();' %>
</div>
<%= f.hidden_field :lat, :id => 'lat' %>
<%= f.hidden_field :lng, :id => 'lng' %>

