<div class="field">
  <%= f.label :institution, "Bank Institution" %>
  <%= f.text_field :institution %>
</div>
<div class="field">
  <%= f.label :account, "Account Number" %>
  <%= f.text_field :account %>
</div>
<div class="field">
  <%= f.label :routing, "Routing Number" %>
  <%= f.text_field :routing %>
</div>
