<h4>A little more about you</h4>
<div class="field_group initial_user">
  <div class="field">
    <%= label_tag 'user_first_name', 'Your First Name' %>
    <%= text_field_tag 'user[first_name]', @user.first_name, :class => 'user_first_name' %>
  </div>
  <div class="field">
    <%= label_tag 'user_last_name', 'Your Last Name' %>
    <%= text_field_tag 'user[last_name]', @user.last_name, :class => 'user_last_name' %>
  </div>
  <div class="field">
    <%= label_tag 'user_contact_phone', 'Your Cell #' %>
    <%= text_field_tag 'user[contact_phone]', number_to_phone(@user.cell_phone), :class => 'user_contact_phone' %> 
  </div>
  <div class="field">
    <%= label_tag 'user_title', 'Your Company Title' %>
    <%= text_field_tag 'role[title]', @role.title, :class => 'user_role_title' %> <span>e.g. Owner, President, etc...</span>
  </div>
</div>
