	<div class="field">
	  <%= f.label :name, "Company Name" %> 
	  <%= f.text_field :name, :class => 'vendor_name' %> <span>The name displayed to customers</span>
	</div>
	
	<% if @location.vendor.has_completed_final_signup? %>	
		<div class="field">
		  <%= f.label :legal_name, "Company Legal Name" %>
		  <%= f.text_field :legal_name, :class => 'vendor_legal_name' %> <span>e.g. Bob's Pizza, INC. (not shown to customers)</span>
		</div>
	<% end %>
	
	<div class="field">
	  <%= f.label :description, "Company Description" %>
	  <%= f.text_area :description, :class => 'vendor_description', :cols => 50, :rows => 4, :style => 'font-size: 12px; width: 400px;' %> <br><span style="margin-left: 155px;">Paragraph or less.  Customers will see this when viewing your profile.</span>
	</div>

  <% if @location.vendor.has_completed_final_signup? %>

		<div class="field_group">
		  <%= f.fields_for :links do |builder| %>
		    <%= render 'hard_link', :f => builder %>
		  <% end %>
		</div>
	

		<div class="field_group">
		  <%= f.label :logo_image %>
		  <%= f.file_field :logo_image, :class=>"upload" %>
		  <%= f.hidden_field :retained_logo_image %>
		  <%= image_tag f.object.logo_image.thumb('100x100>').url if f.object.logo_image_uid %>
		</div>
	
	<% end %> 
	