<div id="reg_wizard" class="wizard">
  <div id="ContactWizard" class="wizard-default-style js">
    <ul class="steps">
      <li id="step1"><a href="#" class="wizard-step" id="wizard-step-1">Company</a></li>
      <li id="step2">First Location</li>
      <li id="step3">Delivery Boundaries</li>
      <li id="step4">Integration &amp; Menu</li>
      <li id="step5">Terms &amp; Confirm</li>
    </ul>

    <div class="step_content">
      <%= form_for @location, :url => register_vendor_path(@location.vendor.registration_token) do |f| %><!-- TODO make resource oriented form?  -->
        <% render 'company', :f => f %>
        <% render 'location', :f => f %>
        <% render 'terms', :f => f %>
        <%= render 'step_one', :f => f %><!-- Company -->
        <%= render 'step_two', :f => f %><!-- First Location -->
        <%= render 'step_three', :f => f %><!-- Boundaries (conditional) -->
        <%= render 'step_four', :f => f %><!-- Integration & Menu -->
        <%= render 'step_five', :f => f %><!-- Billing, Terms, & Confirm -->
      <% end %>
      <%# template_for :links %><!-- Uncomment if needed -->
      <%= template_for :menu_uploads %>
    </div>
    <!-- end step_content -->

    <%= render 'shared/no_javascript' %>

  </div>
  <!--end contentwizard-->
</div>
<!--end wizard-->
