<h3>Order Status: <%= @order.state.gsub(/_/, ' ').capitalize %></h3>
<h4>Actions</h4>
<% if @order.submitted? %>
  <%= link_to "Confirm", dashboard_order_confirm_path(@order), class: 'btn_small grey', remote: true, method: :post %> 
  <%= link_to "Cancel", dashboard_order_cancel_path(@order), class: 'btn_small grey', remote: true, method: :post %>
<% elsif @order.confirmed? || @order.on_delivery? %>
  <% if @order.delivery_order? && @order.confirmed? %>
    <%= link_to "Out for Delivery", dashboard_order_deliver_path(@order), class: 'btn_small grey', remote: true, method: :post %> 
    <% if @order.on_delivery? %>
      <%= link_to "Undeliverable", dashboard_order_undeliverable_path(@order), class: 'btn_small grey', remote: true, method: :post %> 
    <% end %>
  <% end %>
  <%= link_to "Fulfill", dashboard_order_fulfill_path(@order), class: 'btn_small grey', remote: true, method: :post %>
  <%= link_to "Cancel", dashboard_order_cancel_path(@order), class: 'btn_small grey', remote: true, method: :post %>
<% else %>
  Order is Complete
<% end %>
