<div id="content" class="page confirmation">
	<div id="content_wrap">
	  <h1>Order #<%= @order.id %> <%= "- LOCKED" if @order.locked? %></h1>
	
	  <div id="confirmation_wrapper"><p>
	    FROM: <a target="_blank" href="http://maps.google.com/?q=<%= "(#{@order.delivery_spot.lat},#{@order.delivery_spot.lng})" %>"><%= @order.location_name -%></a>
	    to <a target="_blank" href="http://maps.google.com/?q=<%= "(#{@order.custom_location.lat},#{@order.custom_location.lng})" %>"><%= @order.user.name -%></a>
	    <br />---<br />
	    <%= @order.custom_order_body %>
	    <br />---<br />
      CUSTOMER THINKS THIS WILL COST AROUND: <b><%= number_to_currency(@order.approx_cost) %>	</b> <br /> <br /></p>

			<% @static_map_url = 'https://maps.google.com/maps/api/staticmap?' -%>
			<% @static_map_url += '&size=310x200&maptype=roadmap&sensor=false' -%>
			<% @static_map_url += '&markers=shadow:false%7Cicon:http%3A%2F%2Fhts-production.s3.amazonaws.com%2Fassets%2Fblue_pin.png' -%>		
			<% @static_map_url += '%7C' + @order.delivery_spot.lat.to_s + ',' + @order.delivery_spot.lng.to_s -%>
			<% @static_map_url += '&markers=shadow:false%7Cicon:http%3A%2F%2Fhts-production.s3.amazonaws.com%2Fassets%2Fred_pin.png' -%>		
			<% @static_map_url += '%7C' + @order.custom_location.lat.to_s + ',' + @order.custom_location.lng.to_s -%>

			<img src="<%= @static_map_url -%>" /> <br /><br />




	  </div>
	  <div id="order_status_actions"><div class="loading"></div></div>
	
	  <%= render 'shared/menu_stub' %>
	
	  <div class="clear"></div>
	</div>
</div>
