<%= form_for @location, url: update_sms_phone_dashboard_location_path(@location), method: :put, remote: true do |f| %>
  <% unless @location.errors.empty? %>
    <div id="error_explaination">
      <%= pluralize(@location.errors.count, "error") %> need to be fixed:
      <ul>
        <% @location.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :notify_email, 'Enter Email to Notify' %>
  <%= f.text_field :notify_email %><br><br>
  <%= f.label :notify_phone, 'Enter # For Voice Notifications' %>
  <%= f.text_field :notify_phone, value: number_to_phone(@location.notify_phone) %><br><br>
  <%= f.label :sms_phone, 'Enter # For Text Notifications' %>
  <%= f.text_field :sms_phone, value: number_to_phone(@location.sms_phone) %>
  <%= f.submit "Update #s", :class=>'btn_med' %>
<% end %>
