<%= form_for [:dashboard, @vendor] do |f| %>
		  <% if @vendor.errors.any? %>
		    <div id="error_explaination">
		      <h4><%= pluralize(@vendor.errors.count, "error") %> need to be fixed:</h4>
					<ul>
			      <% @vendor.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			    </ul>
		    </div>
		  <% end %>
		
		  <p>
		    <%= f.label :name, "Name" %>
		    <%= f.text_field :name %>
		  </p>

		  <p>
		    <%= f.label :legal_name, "Legal Name" %>
		    <%= f.text_field :legal_name %>
		  </p>
		
		  <p>
		    <%= f.label :phone, "Main Phone #" %>
		    <%= f.text_field :phone %>
		  </p>		

		  <p>
		    <%= f.label :website, "Website" %>
		    <%= f.text_field :website %>
		  </p>
		
		  <p>
		    <%= f.label :description, "Description" %>
		    <%= f.text_area :description, :cols => 50, :rows => 4 %>
      </p>

      <p>
        <%= f.label :logo_image %>
        <%= f.file_field :logo_image, :class=>"upload" %>
        <%= f.hidden_field :retained_logo_image %>
        <%= image_tag @vendor.logo_image.thumb('100x100>').url if @vendor.logo_image_uid %>
      </p>
		
  	  <p><%= f.submit "Edit &raquo;".html_safe, :class=>"btn_med" %></p>
  <div class="clear"></div>
<% end %>
