<div class="thumb">
  <%# link_to '#' do %>
    <% if location.vendor.logo_image.present? %>
      <%= image_tag location.vendor.logo_image.thumb('60x60#').url %>
    <% else %>
      <img src='/assets/img_default_logo.png'/>
    <% end %>
  <%# end %>
</div>
<div class="details">
  <% if permitted_to? :show, location, context: :dashboard_locations %>
    <strong><%= link_to location.vendor.name, dashboard_location_path(location) %></strong>
  <% elsif permitted_to? :live, location, context: :dashboard_locations %>
    <strong><%= link_to location.vendor.name, live_dashboard_location_path(location) %></strong>
  <% end %>
  <br />
  <%= location.address.street1 %> 
  <% if permitted_to? :show, location, context: :dashboard_locations %>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    <%= link_to 'Orders &amp; Billing &raquo;'.html_safe, dashboard_location_path(location), class: 'btn_small grey' %>
  <% end %>
</div>
<div class="controls">
	
  <% if permitted_to? :show, location, context: :dashboard_locations %>
    <%= link_to 'Live Dashboard'.html_safe, live_dashboard_location_path(location), class: 'btn_small grey' %>
  <% elsif permitted_to? :live, location, context: :dashboard_locations %>
    <%= link_to 'Live Dashboard &raquo;'.html_safe, live_dashboard_location_path(location), class: 'btn_small grey' %>
  <% end %>	

  <% if permitted_to? :edit, location, context: :dashboard_locations %>
    <%= link_to 'Edit Details', edit_dashboard_location_path(location), class: 'btn_small grey' %>
  <% end %>
  <% if permitted_to? :create, :roles, context: :dashboard_location_roles %>
    <%= link_to 'Add/Modify Users', dashboard_location_location_roles_path(location), class: 'btn_small grey' %> 
  <% end %>
</div>
<div class="clear"></div>
<br/>
<div class="menus">
  <table>
    <% location.menus.each do |menu| %>
      <tr>
        <td width="30%"><%= menu.name %></td>
        <td width="40%">
          <% if menu.start_at? && menu.end_at.present? %>
            <%= menu.start_at.strftime("%I:%M %p") %> - 
            <%= menu.end_at.strftime("%I:%M %p") %>
          <% end %>
        </td>
        <td  align="right" width="30%">
          <% if permitted_to? :edit, menu, context: :dashboard_menus %>
            <%= link_to 'Edit Menu', edit_dashboard_menu_path(menu), remote: true, class: 'btn_small grey menu_edit' %> 
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <% if permitted_to? :create, :menu, context: :dashboard_menus %>
    <%= link_to 'New Menu', new_dashboard_menu_path(location_id: location.id), remote: true, class: 'btn_small grey menu_edit' %> 
  <% end %>
  <% if location.openmenu_url.present? %>
    <%= link_to 'Refresh all OpenMenus', openmenu_refresh_dashboard_location_path(location), remote: true, method: :post, confirm: "This will completely match your menus to match your OpenMenu data. Continue?", class: 'btn_small grey' %>
  <% end %>
</div>
<div class="clear"></div>
