<div id="content" class="dashboard">
  <div id="vendor_nav">
    <ul>
      <%= render 'shared/dashboard_top_tabs', selected: 'vendors' %> 
    </ul>
  </div>
  <div id="content_wrap">
    <div id="main_tabs">
      <ul class="tabs">
      </ul>
      <div class="tab_container_not_used">
        <div id="tab1" class="tab_content">
          <table>
            <thead>
              <tr>
                <th>Vendor</th>
                <th>Locations</th>
              </tr>
            </thead>
            <% @vendors.each do |vendor| %>
              <tr>
                <td valign="top" class="title">
                  <div class="thumb">
                    <%# link_to '#' do %>
                      <% if vendor.logo_image.present? %>
                        <%= image_tag vendor.logo_image.thumb('60x60#').url %>
                      <% else %>
                        <img src='/assets/img_default_logo.png'/>
                      <% end %>
                    <%# end %>
                  </div>
                  <div class="details">
                    <%= vendor.name %>
                  </div>
                  <div class="controls">
                    <% if permitted_to? :edit, vendor, context: :dashboard_vendors %>
                      <%= link_to 'Edit Settings', edit_dashboard_vendor_path(vendor), class: 'btn_small grey' %> 
                    <% end %>
                    <% if permitted_to? :create, :roles, context: :dashboard_vendor_roles %>
                      <%= link_to 'Add/Modify Users', dashboard_vendor_vendor_roles_path(vendor), class: 'btn_small grey'%>
                    <% end %>
                  </div>
                </td>
                <td>
                  <ul id="locations">
                    <% vendor.locations.each do |location| %>
                      <li id="location-<%= location.id %>">
                        <%= render 'location', location: location %>
                      </li>
                    <% end %>
                  </ul>
                  <% if permitted_to? :create, :vendor, context: :dashboard_vendors %>
                    <div class="add_another">
                      <%= link_to "Add New Location &raquo;".html_safe, new_dashboard_location_path(vendor_id: vendor), class: 'btn_small grey' %>
                    </div>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </table>
          <% if permitted_to? :create, :vendor, context: :dashboard_vendors %>
            <div class="add_another">
              <%= link_to "Add new vendor &raquo;".html_safe, new_dashboard_vendor_path, class: 'btn_med' %>
            </div>
          <% end %>
        </div>
      </div>
      <div id="tab2" class="tab_content">
        <div class="current_map"></div>
      </div>
      <div id="tab3" class="tab_content">
        <table>
          <thead>
            <tr>
              <th width="100">Date</th>
              <th width="400">Customer</th>
              <th width="200">Assigned To</th>
              <th width="150">Order Total</th>
              <th width="150"></th>
            </tr>
          </thead>
          <!--
          <tr>
            <td class="date"><span>10/30/11</span><br/>7:48 PM</td>
            <td class="customer"><span>Jane Doe</span><br/>1403 W. Broadway St.<br/>City, State 12345 <br/>(555) 555-1234</td>
            <td>Joe Smith</td>
            <td class="total">$43.42</td>
            <td class="actions"><a class="btn" href="">View Order</a></td>
          </tr> -->
        </table>
      </div>
      <div id="tab4" class="tab_content">
        <table>
          <thead>
            <tr>
              <th width="100">Date</th>
              <th width="400">Customer</th>
              <th width="150">Order Total</th>
              <th width="150"></th>
            </tr>
          </thead>

          <!--
          <tr>
            <td class="date"><span>10/30/11</span><br/>7:48 PM</td>
            <td class="customer"><span>Mary Johnson</span><br/>1403 W. Broadway St.<br/>City, State 12345 <br/>(555) 555-1234</td>
            <td class="total">$13.02</td>
            <td class="actions"><a class="btn" href="">View Order</a></td>
          </tr>
          -->

        </table>
      </div>
      <div class="info_box view_order" style="display:none;">
        <div class="navigation">
          <a href="" class="close_info_box">Close</a>
        </div>
        <div class="content">
          <p></p>  
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>

  <!-- end #main_tabs -->
  <div id="module_boxes">


    <div class="clear"></div>
  </div>
</div>
<!--end content_wrap-->
</div>
<!--end content-->
