<%= form_for line_item, remote: true do |f| %>
  <%= hidden_field_tag 'order_id', @order.try(:id) || line_item.order.id %>
  <%= f.hidden_field :menu_item_id, value: line_item.item.id %>

  <h2><%= line_item.item.name %> - <span class="price"><%= number_to_currency line_item.item.minimum_price / 100.0 %></span></h2>
  <p><%= line_item.item.description %></p>

  <% if line_item.errors.any? %>
    <div id="error_explaination">
      <%= pluralize(line_item.errors.count, "error") %> need to be fixed:
      <ul>
        <% line_item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if line_item.item.sizes.size > 0 %>
    <div class="field">
      <label>Select a Size</label><br />

      <% line_item.item.sizes.each_with_index do |size, index| %>
        <% options = {}; options.merge!(checked: true) if index == 0 && line_item.menu_size_id.blank? %>
        <span><%= f.radio_button :menu_size_id, size.id, options %>
          <%= f.label :menu_size_id, size.name %> (<%= number_to_currency size.price / 100.0 %>)</span>
      <% end %>
    </div>
  <% end %>

  <% if line_item.item.options.size > 0 || line_item.item.group.options.size > 0 %>
    <div class="field">
      <label>Select Options</label><br />
      <%= render partial: 'option', collection: line_item.item.options, locals: {f: f, line_item: line_item} %>
      <%= render partial: 'option', collection: line_item.item.group.options, locals: {f: f, line_item: line_item} %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :special_instructions %><br />
    <%= f.text_area :special_instructions %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br /><div class="clear"></div>
    <a href="#" class="decrement">&#45;</a> 
    <%= f.text_field :quantity, :size => 2, class: 'item-qty'%> 
    <a href="#" class="increment">&#43;</a>
  </div>

  <% if line_item.menu.active? && line_item.location.open? %>
    <%= f.submit "Add" %>
  <% else %>
    <span class="inactive">This item &amp; menu is not avaliable right now.</span>
  <% end %>
<% end %>

<div class="close"><a href=''>Cancel and Close Window</a></div>
