<div class="option_set">
  <h4><%= option.name %></h4>
	<% if option.information.present? %><p><%= option.information %></p><% end %>
  <% if option.minimum || option.maximum %>
    <p>
      <% if option.minimum %>Minimum: <span class="mix"><%= option.minimum %></span><% end %> 
      <% if option.maximum %>Maximum: <span class="max"><%= option.maximum %></span><% end %>
    </p>
  <% end %>
	
	<ul class="option_items">
	  <% option.option_items.each do |item| %>
	    <li>
	      <%= f.fields_for :options, line_item.option_for(item) do |option_fields| %>
	
					<a href="#" class="decrement">&#45;</a> 
					<%= option_fields.text_field :quantity, size: 2, class: 'option-qty' %>
					<a href="#" class="increment">&#43;</a>
	
	        <%= option_fields.hidden_field :menu_option_item_id, value: item.id %>
	        <%= item.name %> - <%= number_to_currency (item.additional_cost || 0) / 100.0 %>
	
	      <% end %>
	    </li>
	  <% end %>
	</ul>
</div>
